@model Developers
@{
    ViewData["Title"] = "TeamDetails";
}

<!-- Main area start -->
<main>
    <!-- Intro section start -->
    <section id="particle-canvas-devDetails">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 m-0 p-0">
                    <div class="header-content text-center">
                        <canvas id="canvas" class="canvas"></canvas>
                        <h3>İşçi haqqında</h3>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Intro section end -->
    <!-- Team details section start -->
    <div class="developer-details-area mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-5 col-sm-5 col-xs-12">
                    <div class="developer-details-img">
                        <img src="~/images/team/@Model.Image" alt="developer">
                    </div>
                </div>
                <div class="col-lg-7 col-sm-7 col-xs-12 ">
                    <div class="developer-details-content ml-50">
                        <h2>@Model.Name</h2>
                        <h5>@Model.Profession</h5>
                        <h4>Ətraflı</h4>
                        <p>@Model.developerDetails.Description</p>
                        <ul>
                            <li><span>Dərəcə: </span>@Model.developerDetails.Degree</li>
                            <li><span>Təcrübə: </span>@Model.developerDetails.experience</li>
                            <li><span>Hobbilər: </span>@Model.developerDetails.hobbies</li>
                            <li><span>İxtisas: </span>@Model.developerDetails.faculty</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-lg-8 col-sm-8">
                    <div class="skill-area">
                        <h4>skills</h4>
                    </div>
                    <div class="skill-wrapper m-0 p-0">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="skill-bar-item">
                                    <span>language</span>
                                    <div class="progress">
                                        <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 85%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                            <span class="text-top">85%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="skill-bar-item">
                                    <span>team leader</span>
                                    <div class="progress">
                                        <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 90%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                            <span class="text-top">90%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="skill-bar-item">
                                    <span>development</span>
                                    <div class="progress">
                                        <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 85%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                            <span class="text-top">85%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="skill-bar-item">
                                    <span>design</span>
                                    <div class="progress">
                                        <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 95%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                            <span class="text-top">95%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="skill-bar-item">
                                    <span>innovation</span>
                                    <div class="progress">
                                        <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 85%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                            <span class="text-top">85%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="skill-bar-item">
                                    <span>communication</span>
                                    <div class="progress">
                                        <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="width: 95%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                            <span class="text-top">95%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team details section end -->

</main>
<!-- Main area end -->
